.landing-page {
  height: 100vh;
  width: 100%;
}

.logo {
  width: 4%;
  transition: all 0.4s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.landing-page-container {
  margin: 0 auto;
  height: 100%;
}

.navbar {
  height: 10%;
  top: 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page-content-container {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

.heading {
  margin: 0 auto;
  font-family: 'Alata', sans-serif;
}

.personal-image-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.personal-image {
  width: 20rem;
}

.devices-mockup {
  width: 55%;
  margin: 0 auto;
  margin-top: -8rem;
}

.mockup-svg {
  width: 100%;
}
