.projects {
  height: 130vh;
  width: 100%;
  /* background-color: aliceblue; */
  /* margin-top: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: -8rem;
}

.projects-container {
  height: 100%;
  width: 100%;
  /* background-color: white; */

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imac-image-container {
  position: relative;
  width: 75%;
  /* margin-top: 15rem; */
  /* filter: saturate(2); */
  /* height: 100%; */
}

.imac-image {
  width: 100%;
  height: 100%;
  /* box-shadow: 0 2rem 4rem black; */
  /* filter: saturate(18); */
}

.projects-container-code {
  position: absolute;
  width: 97%;
  height: 69%;
  color: white;
  background-color: black;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
  font-weight: 400;
  /* letter-spacing: 0.3rem; */
  /* border-radius: 1rem; */
  overflow-y: scroll;
}

.projects-container-code::-webkit-scrollbar {
  display: none;
}

.code {
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.scroll-down-button {
  height: 5rem;
  width: 5rem;
  background-color: aliceblue;
  border-radius: 50%;
  color: black;
  font-size: 2rem;
  z-index: 1000000000000;
  bottom: 31%;
  right: 3%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* transition: all 4s; */
}

.scroll-down-button:hover {
  cursor: pointer;
}

.scroll-down-button:hover::after {
  content: 'Scroll down to see more';

  position: absolute;
  transform: scale(1.2);
  top: 30%;
  left: 250%;
  width: 100%;
  font-size: 1rem;
}

.github-link {
  height: 5rem;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  margin-left: 3rem;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.35s;
}

.github-link:hover {
  transform: translateY(-0.7rem);
  /* box-shadow: 0 1rem 2rem rgba(131, 130, 130, 0.3); */
}
.github-link:active {
  transform: translateY(-0.3rem);
}

@media (max-width: 2000px) {
  .imac-image-container {
    width: 68%;
  }
}

@media (max-width: 1750px) {
  .github-link {
    height: 5rem;
    width: 40%;
    font-size: 2.2rem;
  }
  .imac-image-container {
    margin-top: 5rem;
  }
  .projects {
    height: 105vh;
  }
}

@media (max-width: 1440px) {
  .projects {
    height: 90vh;
  }
}

@media (max-width: 1285px) {
  .github-link {
    height: 5.3rem;
    width: 45%;
    font-size: 2rem;
  }

  .imac-image-container {
    width: 88%;
  }
}

@media (max-width: 1140px) {
  .imac-image-container {
    width: 82%;
  }
}

@media (max-width: 1000px) {
  .projects {
    height: 70vh;
  }
}

@media (max-width: 900px) {
  .imac-image-container {
    width: 92%;
  }
  .scroll-down-button:hover::after {
    left: 200%;
  }
}

@media (max-width: 640px) {
  .github-link {
    height: 7.5rem;
    width: 52%;
    font-size: 1.5rem;
  }
  .projects {
    height: 90vh;
  }
}
@media (max-width: 450px) {
  .github-link {
    height: 7.5rem;
    width: 70%;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .imac-image-container {
    width: 98%;
    margin-top: 30rem;
  }
  .scroll-down-button:hover::after {
    font-size: 0.7rem;
    width: 50%;
  }
}

@media (max-width: 500px) {
  .code {
    margin-left: 5rem;
  }
  .scroll-down-button:hover::after {
    left: 162%;
  }
}
