.modal-background {
  height: 110vh;
  width: 100%;
  background: url(../../../../public/images/modal-background.jpg);
  background-size: cover;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.modal-container {
  width: 60%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  position: fixed;
}

.modal-heading {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2rem;
  letter-spacing: 0.3rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color: transparent;
}

.modal-content-container {
  height: 70%;
  width: 100%;
  /* background-color: green; */
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal-content {
  font-size: 2rem;
  font-weight: 300;
  font-family: inherit;
  padding: 2rem;
  /* background-color: blue; */
  height: 13rem;
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -2rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='black' stroke-width='1' stroke-dasharray='8%2c 8%2c 21' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
}

.modal-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: aliceblue; */
}

.modal-skills-title {
  margin-left: 4rem;
  /* width: 33%; */
  font-family: inherit;
  font-weight: 400;
  font-size: 2.5rem;
}

.modal-skills-rating {
  font-weight: 700;
  margin-top: 1rem;
  height: 50%;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.5); */
  letter-spacing: 0.5rem;
  font-size: 5rem;
  background-image: linear-gradient(to right, #1cd8d2, #93edc7);
  /* background-image: linear-gradient(to right, #1fa2ff, #a6ffcb); */
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.modal-button {
  padding: 2rem 6rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  border-radius: 30px;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  margin-top: -4rem;
  transition: all 0.4s;
}

.modal-button:hover {
  cursor: pointer;
  transform: translateY(-0.9rem);
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.6);
}

.modal-button:active {
  transform: translateY(0);
  box-shadow: 0 1.1rem 3rem rgba(0, 0, 0, 0.6);
}

.skill-image {
  width: 8rem;
}
