*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* Global Reset */
}

html {
  font-size: 62.5%;
  /* Setting default font size to 10px for easier conversion to rem */
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

/* #root {
  overflow: hidden;
}

*/

body {
  box-sizing: border-box;
  padding: 4rem;
}

#portal {
  overflow: hidden;
}

@media (max-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1081px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 600px) {
}
