.about-me {
  height: 95vh;
  /* background-color: black; */
  position: relative;
  /* padding: 2rem; */
}

.about-me-container {
  width: 70%;
  height: 90%;
  /* background-color: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 15rem; */
}

.heading {
  width: 80%;
  text-align: center;
  padding: 2rem;
}

.skills-card-container {
  background-color: white;
  width: 75%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
