.footer {
  width: 100%;
  height: 38vh;
  /* background-color: black; */
  position: relative;
  /* bottom: 0; */
  /* margin-top: 20rem; */
  margin-bottom: -7rem;
}

.footer-container {
  /* margin-top: 17rem; */
  position: absolute;
  width: 80%;
  height: 80%;
  /* background-color: black; */
  /* background-image: linear-gradient(to right, #1fa2ff, #a6ffcb); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='black' stroke-width='1' stroke-dasharray='8%2c 8%2c 21' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e");
  /* margin-top: 5rem; */
  /* color: white; */
}

.social-icons-container {
  margin-left: 4rem;
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */
}

.social-icon {
  width: 2.7rem;
  box-shadow: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.social-icon:hover {
  transform: scale(1.7);
  cursor: pointer;
  filter: invert(43%) sepia(55%) saturate(303%) hue-rotate(128deg)
    brightness(92%) contrast(94%);
}

.hire-me-container {
  width: 40%;
  height: 40%;
  position: absolute;
  /* margin-bottom: 18rem; */
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  /* background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  ); */
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  z-index: 1;
  font-size: 2.5rem;
  text-transform: capitalize;
  /* font-family: 'Assistant', sans-serif; */
  font-weight: 500;
  /* text-decoration: underline; */
}

.resume-image {
  width: 5.5rem;
  z-index: 500;
}

@media (max-width: 1285px) {
  .hire-me-container {
    top: 30%;
  }

  .footer-container {
    top: 70%;
    width: 85%;
    height: 75%;
  }
}

@media (max-width: 925px) {
  .hire-me-container {
    width: 50%;
  }
  .footer-container {
    width: 90%;
    height: 70%;
  }
}

@media (max-width: 645px) {
  .hire-me-container {
    width: 55%;
  }
  .footer-container {
    top: 60%;
    width: 95%;
    height: 50%;
  }
}

@media (max-width: 400px) {
  .hire-me-container {
    width: 75%;
  }
  .footer-container {
    width: 100%;
    height: 40%;
  }
  .social-icons-container {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .hire-me-container {
    width: 80%;
  }
  .footer-container {
    width: 100%;
    height: 40%;
  }
  .social-icons-container {
    width: 30%;
  }
}

@media (max-height: 800px) {
  .footer {
    height: 100vh;
  }
  .hire-me-container {
    top: 30%;
    height: 20%;
  }
}

@media (max-height: 610px) {
  .footer {
    height: 75vh;
  }
}
