a {
  text-decoration: none;
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  text-transform: capitalize;
}

.btn-primary {
  color: rgba(128, 128, 128, 0.6);
  border: 1px solid rgba(128, 128, 128, 0.6);
  transition: all 0.4s;
}

.btn-primary:hover {
  transform: translateY(-0.3rem) scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: rgba(128, 128, 128, 0.6);
  border: 1px solid black;
  color: black;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
}
.u-margin-top-small {
  margin-top: 2rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-large {
  margin-top: 8rem;
}

.heading {
  font-family: inherit;
}

.heading-primary {
  font-size: 3.8rem;
  font-weight: 700;
  padding: 2rem;
  letter-spacing: 0.3rem;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.heading-secondary-secondary {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 2rem;
}
.heading-secondary-secondary::selection {
  background: lightgray;
}
.decrease-letter-spacing {
  letter-spacing: 0.1rem;
}

.heading-primary-gradient {
  font-size: 4rem;
  font-weight: 700;

  padding: 2rem;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color: transparent;
  /* border-bottom: 1px solid black; */
  transition: all 0.4s;
}

/* .heading-primary-gradient:hover {
  transform: scale(1.1);
  text-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid black;
} */
